<div class="footer">
  <div class="footer__inner">

    <div class="footer__inner__updates">
      <div class="footer__inner__updates__content container">
        <div class="footer__inner__updates__content__text">Sign up to get latest updates</div>
        <form class="footer__inner__updates__content__box">
          <input type="text" placeholder="Email Address" class="footer__inner__updates__content__box__input form-input">
          <button type="submit" class="footer__inner__updates__content__box__button form-button">Subscribe Now</button>
        </form>
      </div>
    </div>

    <footer class="footer__inner__rodape">
      <div class="footer__inner__rodape__bg-container">
        <div class="footer__inner__rodape__bg-container__box"></div>
      </div>

      <div class="footer__inner__rodape__content container">

        <div class="footer__inner__rodape__content__boxes">

          <div class="footer__inner__rodape__content__boxes__col">
            <div class="footer__inner__rodape__content__boxes__col__title">About</div>
            <ul class="footer__inner__rodape__content__boxes__col__list">
              <li class="footer__inner__rodape__content__boxes__col__list__item"><a href="#" class="footer__inner__rodape__content__boxes__col__list__item__link">Services</a></li>
              <li class="footer__inner__rodape__content__boxes__col__list__item"><a href="#" class="footer__inner__rodape__content__boxes__col__list__item__link selected">About</a></li>
              <li class="footer__inner__rodape__content__boxes__col__list__item"><a href="#" class="footer__inner__rodape__content__boxes__col__list__item__link">New Projects</a></li>
              <li class="footer__inner__rodape__content__boxes__col__list__item"><a href="#" class="footer__inner__rodape__content__boxes__col__list__item__link">Site Map</a></li>
              <li class="footer__inner__rodape__content__boxes__col__list__item"><a href="#" class="footer__inner__rodape__content__boxes__col__list__item__link">History</a></li>
            </ul>
          </div>

          <div class="footer__inner__rodape__content__boxes__col">
            <div class="footer__inner__rodape__content__boxes__col__title">Explore</div>
            <ul class="footer__inner__rodape__content__boxes__col__list">
              <li class="footer__inner__rodape__content__boxes__col__list__item"><a href="#" class="footer__inner__rodape__content__boxes__col__list__item__link">Press Release </a></li>
              <li class="footer__inner__rodape__content__boxes__col__list__item"><a href="#" class="footer__inner__rodape__content__boxes__col__list__item__link">Contact </a></li>
              <li class="footer__inner__rodape__content__boxes__col__list__item"><a href="#" class="footer__inner__rodape__content__boxes__col__list__item__link">Blog Posts </a></li>
              <li class="footer__inner__rodape__content__boxes__col__list__item"><a href="#" class="footer__inner__rodape__content__boxes__col__list__item__link">Social Connect</a></li>
              <li class="footer__inner__rodape__content__boxes__col__list__item"><a href="#" class="footer__inner__rodape__content__boxes__col__list__item__link">Help Topics</a></li>
            </ul>
          </div>

          <div class="footer__inner__rodape__content__boxes__col">
            <div class="footer__inner__rodape__content__boxes__col__title">Links</div>
            <ul class="footer__inner__rodape__content__boxes__col__list">
              <li class="footer__inner__rodape__content__boxes__col__list__item"><a href="#" class="footer__inner__rodape__content__boxes__col__list__item__link">Podcasts</a></li>
              <li class="footer__inner__rodape__content__boxes__col__list__item"><a href="#" class="footer__inner__rodape__content__boxes__col__list__item__link">Privacy Policy</a></li>
              <li class="footer__inner__rodape__content__boxes__col__list__item"><a href="#" class="footer__inner__rodape__content__boxes__col__list__item__link">Videos</a></li>
              <li class="footer__inner__rodape__content__boxes__col__list__item"><a href="#" class="footer__inner__rodape__content__boxes__col__list__item__link">Terms of Use</a></li>
            </ul>
          </div>

          <div class="footer__inner__rodape__content__boxes__col">
            <div class="footer__inner__rodape__content__boxes__col__title">Blog</div>
            <ul class="footer__inner__rodape__content__boxes__col__list">
              <li class="footer__inner__rodape__content__boxes__col__list__item"><a href="#" class="footer__inner__rodape__content__boxes__col__list__item__link">How to build a home plan </a></li>
              <li class="footer__inner__rodape__content__boxes__col__list__item"><a href="#" class="footer__inner__rodape__content__boxes__col__list__item__link">Industy and factory business </a></li>
              <li class="footer__inner__rodape__content__boxes__col__list__item"><a href="#" class="footer__inner__rodape__content__boxes__col__list__item__link">We design innovative building</a></li>
              <li class="footer__inner__rodape__content__boxes__col__list__item"><a href="#" class="footer__inner__rodape__content__boxes__col__list__item__link">Sucessful engineering team</a></li>
            </ul>
          </div>

          <div class="footer__inner__rodape__content__boxes__col">
            <div class="footer__inner__rodape__content__boxes__col__title">Contact</div>
            <ul class="footer__inner__rodape__content__boxes__col__list">
              <li class="footer__inner__rodape__content__boxes__col__list__item"><a href="#" class="footer__inner__rodape__content__boxes__col__list__item__link">660 Broklyn Street, 88 New York, USA </a></li>
              <li class="footer__inner__rodape__content__boxes__col__list__item"><a href="#" class="footer__inner__rodape__content__boxes__col__list__item__link">needhelp@dustri.com</a></li>
              <li class="footer__inner__rodape__content__boxes__col__list__item"><a href="#" class="footer__inner__rodape__content__boxes__col__list__item__link">666 888 0000</a></li>
            </ul>
          </div>

        </div>

        <div class="footer__inner__rodape__content__lines">
          <div class="footer__inner__rodape__content__lines__line left"></div>
          <div class="footer__inner__rodape__content__lines__line right"></div>
        </div>

        <div class="footer__inner__rodape__content__copyright">© Copyright 2020 CODEZONE</div>

      </div>
    </footer>

  </div>
</div>
