.footer {

  &__inner {
    &__updates {
      background-color: #FF4F01;
      min-height: 200px;
      &__content {
        display: flex;
        flex-direction: column;
        padding: 0 15px;
        &__text {
          color: #fff;
          font-size: 19px;
          font-weight: bold;
          margin-top: 28px;
          text-align: center;
        }
        &__box {
          display: flex;
          flex-direction: column;
          margin-top: 15px;
          &__input {
            max-width: 555px;
            margin: 0 auto;
          }
          &__button {
            margin: 15px auto 0;
            width: 120px;
            cursor: pointer;
          }
        }
      }
    }

    &__rodape {
      background-image: url(../../assets/img/bg_footer.svg);
      background-size: cover;
      min-height: 590px;
      padding-bottom: 25px;

      &__bg-container {
        position: absolute;
        width: 100vw;
        height: 420px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        display: none;
        &__box {
          width: 800px;
          height: 295px;
          background: rgba(255, 255, 255, 0.07);
          margin: 0 auto;
        }
      }

      &__content {
        padding: 0 15px;
        position: relative;
        z-index: 2;

        &__boxes {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          &__col {
            text-align: center;
            margin-top: 25px;
            margin-bottom: 30px;
            &__title {
              font-weight: bold;
              color: #fff;
              margin-bottom: 20px;
              font-size: 20px;
            }
            &__list {
              &__item {
                list-style: none;
                margin-bottom: 10px;
                &__link {
                  text-decoration: none;
                  color: #B6BBCC;
                  cursor: pointer;
                  &.selected {
                    color: #FF4F01;
                  }
                }
              }
            }
          }
        }

        &__lines {
          margin-top: 10px;
          position: relative;
          z-index: 1;
          width: 100%;
          height: 2px;
          border-bottom: 1px solid rgba(255, 255, 255, 0.12);
          &__line {
            position: absolute;
            z-index: 2;
            width: 20px;
            height: 2px;
            bottom: -1px;
            border-bottom: 1px solid #FF4F01;
            &.left {
              left: 0;
            }
            &.right {
              right: 0;
            }
          }
        }
        &__copyright {
          margin-top: 20px;
          color: #B6BBCC;
          text-align: center;
        }
      }
    }
  }

}

@media only screen and (min-width: 650px) {

  .footer {
    &__inner {
      &__rodape {
        min-height: 375px;
        &__content {
          &__boxes {
            flex-direction: row;
            flex-wrap: wrap;
            &__col {
              text-align: left;
              width: 50%;
            }
          }
        }
      }
    }
  }


}

@media only screen and (min-width: 960px) {

  .footer {
    &__inner {

      &__updates {
        min-height: 170px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        &__content {
          flex-direction: row;
          justify-content: space-between;
          &__text {
            margin-top: 11px;
            height: 28px;
            max-width: 250px;
          }
          &__box {
            width: 57%;
            max-width: 450px;
            flex-direction: row;
            justify-content: space-between;
            margin: 0;
            &__input {
              max-width: 450px;
              width: 70%;
              margin: 0;
              height: 46px;
            }
            &__button {
              margin: 0;
            }
          }

        }
      }

      &__rodape {
        &__content {
          &__boxes {
            &__col {
              width: 33%;
              margin-top: 40px;
              &__list {
                &__item {
                  &__link {
                    font-size: 14px;
                  }
                }
              }
            }
          }
        }
      }

    }
  }

}

@media only screen and (min-width: 1200px) {

  .footer {
    &__inner {

      &__updates {
        &__content {
          &__text {
            font-size: 22px;
            max-width: 300px;
            margin-top: 22px;
          }
          &__box {
            max-width: unset;
            width: 580px;
            margin: 0;
            &__input {
              height: 62px;
              max-width: 430px;
              width: 72%;
            }
            &__button {
              height: 62px;
              width: 26%;
              font-size: 13px;
            }
          }

        }
      }

      &__rodape {
        min-height: 420px;
        &__bg-container {
          display: flex;
        }
        &__content {
          &__boxes {
            &__col {
              width: 20%;
              margin-top: 90px;

              &__title {
                font-size: 18px;
              }

              &__list {
                &__item {
                  &__link {
                    font-size: 12px;
                  }
                }
              }
            }
          }

          &__copyright {
            font-size: 13px;
            margin-top: 53px;
          }
        }
      }
    }
  }

}
