<div class="nav">
  <div class="nav__inner">
    <nav class="nav__inner__container">
      <div class="nav__inner__container__logo">
        <img class="nav__inner__container__logo__img">
      </div>
      <ul class="nav__inner__container__list">
        <li class="nav__inner__container__option"><a>Home</a></li>
        <li class="nav__inner__container__option"><a>Pages</a></li>
        <li class="nav__inner__container__option"><a>Our Services</a></li>
      </ul>
      <ul class="nav__inner__container__list">
        <li class="nav__inner__container__option"><a>Recent Projects</a></li>
        <li class="nav__inner__container__option"><a>Blog</a></li>
        <li class="nav__inner__container__option"><a>Contact</a></li>
      </ul>
    </nav>
  </div>
</div>
