<div class="nav">
  <div class="nav__inner container">
    <nav class="nav__inner__container">
      <div class="nav__inner__container__logo">
        <img class="nav__inner__container__logo__img" src="../../assets/img/Logo.png" alt="logo">
      </div>
      <ul class="nav__inner__container__list">
        <li class="nav__inner__container__list__option"><a href="#">Home</a></li>
        <li class="nav__inner__container__list__option"><a href="#">Pages</a></li>
        <li class="nav__inner__container__list__option"><a href="#">Our Services</a></li>
      </ul>
      <ul class="nav__inner__container__list">
        <li class="nav__inner__container__list__option"><a href="#">Recent Projects</a></li>
        <li class="nav__inner__container__list__option"><a href="#">Blog</a></li>
        <li class="nav__inner__container__list__option"><a href="#">Contact</a></li>
      </ul>
    </nav>
  </div>
</div>
