<div class="main">
  <div class="main__inner container">

    <div class="main__inner__services"> <!-- flex collunms -->

      <div class="main__inner__services__icon">
        <img src="../../assets/img/icon-orange.svg" alt="icone laranja">
      </div>

      <div class="main__inner__services__title title">Our Services</div>

      <div class="main__inner__services__title-bold title-bold">Industries Served</div>

      <div class="main__inner__services__boxes">
        <div class="main__inner__services__boxes__project"></div>
        <div class="main__inner__services__boxes__leading">
          <div class="main__inner__services__boxes__leading__text">We are a leading industry & factory company in new york</div>
          <div class="main__inner__services__boxes__leading__read read-more">
            <div>Read More</div>
            <div class="read-line"></div>
          </div>
        </div>
      </div>

      <div class="main__inner__services__cols">
        <div class="main__inner__services__cols__box">
          <div class="main__inner__services__cols__box__title">Industrial maintenance solutions </div>
          <div class="main__inner__services__cols__box__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit vehicula est eget felis vehicula imperdiet non lacus at quam gravida porta usce viverra consectetur turpis id lacinia dolor sit amet.</div>
          <div class="main__inner__services__cols__box__read read-more">
            <div>Read More</div>
            <div class="read-line"></div>
          </div>
        </div>

        <div class="main__inner__services__cols__box">
          <div class="main__inner__services__cols__box__title">Embrace new technologies</div>
          <div class="main__inner__services__cols__box__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit vehicula est eget felis vehicula imperdiet non lacus at quam gravida porta usce viverra consectetur turpis id lacinia dolor sit amet.</div>
          <div class="main__inner__services__cols__box__read read-more">
            <div>Read More</div>
            <div class="read-line"></div>
          </div>
        </div>

        <div class="main__inner__services__cols__box">
          <div class="main__inner__services__cols__box__title">Large-scale production for business</div>
          <div class="main__inner__services__cols__box__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit vehicula est eget felis vehicula imperdiet non lacus at quam gravida porta usce viverra consectetur turpis id lacinia dolor sit amet.</div>
          <div class="main__inner__services__cols__box__read read-more">
            <div>Read More</div>
            <div class="read-line"></div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
