
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  color: #666D81;
}
main {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

.container {
  width: 100%;
  /*max-width: 400px;*/
  margin: 0 auto;
}

a {
  color: #666D81;
  text-decoration: none;
}
.title {
  font-size: 16px;
  margin-top: 10px;
  text-align: center;
  text-transform: uppercase;
}

.title-bold {
  margin-top: 5px;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}
.read-more {
  font-size: 14px;
  text-transform: uppercase;
}


@media only screen and (min-width: 650px) {
  .container {
    max-width: 90%;
  }
}

@media only screen and (min-width: 960px) {
  .container {
    max-width: 821px;
  }
}
